arabic-reshape
asgiref
certifi
chardet
dj-database-url
Django
django-autoslug
django-ckeditor
django-crispy-forms
django-heroku
django-js-asset
django-widget-tweaks
future
gunicorn
html5lib
idna
Pillow
psycopg2
PyPDF2
python-bidi
pytz
reportlab
requests
six
sqlparse
urllib3
webencodings
whitenoise
xhtml2pdf
razorpay
twilio
